rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Returns true if the user is signed in
    function isSignedIn() {
      return request.auth != null;
    }

    match /{document=**} {
      allow read: if true;
      allow write: if isSignedIn();
    }
  }
}
