@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 231 67% 94%;
    --foreground: 222.2 84% 4.9%;
    --card: 231 67% 99%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 231 67% 99%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 231 48% 48%;
    --primary-foreground: 0 0% 100%;
    --secondary: 231 50% 90%;
    --secondary-foreground: 231 48% 30%;
    --muted: 231 50% 90%;
    --muted-foreground: 224 7.7% 45.1%;
    --accent: 199 98% 48%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 231 50% 88%;
    --input: 231 50% 88%;
    --ring: 231 48% 48%;
    --chart-1: 231 48% 48%;
    --chart-2: 199 98% 48%;
    --chart-3: 231 40% 60%;
    --chart-4: 199 80% 60%;
    --chart-5: 231 30% 70%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 231 48% 48%;
    --primary-foreground: 0 0% 100%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 199 98% 48%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 231 48% 48%;
    --chart-1: 231 48% 48%;
    --chart-2: 199 98% 48%;
    --chart-3: 231 40% 60%;
    --chart-4: 199 80% 60%;
    --chart-5: 231 30% 70%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
